* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;

    main{
        width: 100%;
        height: 100%;
        background: #000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        h1{
            font-size: 5rem;
            background: rgb(38, 165, 250);
            padding:0.5rem 1rem;
            border-radius: 0.6rem;
            text-align: center;

        }
        button{
            padding: 0.6rem 1.6rem;
            font-size: 2rem;
            background-color: red;
            border: none;
            border-radius: 0.6rem;
            color: white;
           
            &:active{
                transform: scale(1.1);
            }

        }
    }
}