* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background: black;

    #root{
        height: 100%;
        width: 100%;
      
        .main{
         height: 100%;
        width: 100%;
           nav{                
                width: 100%;
                min-height: 10%;
                background: white;
                padding: 4rem;
                font-size: 3rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                form{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    align-items: center;
                    justify-content: start;
                    input{
                        background: yellow;
                        padding-inline: 2rem;
                        padding-block: 1rem;
                        border-radius: 2rem ;
                        border: none;
                        outline: none;
                    }

                    button{
                        padding-block: 1rem;
                        padding-inline: 2rem;
                        border-radius: 2rem;
                
                    }
                }
            }
        }
    }

    
}