* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background: #000;


    .outer-c{
        height: 2rem;
        width: 2rem;
        border: 0.15rem solid white;
        border-radius: 20rem;
        position: absolute;
        transform: translate(-50%,-50%);
        transition: all linear 0.15s;
    }
    .inner-c{
        height: 1rem;
        width: 1rem;
        background: white;
        border-radius: 20rem;
        position: absolute;
        transform: translate(-50%,-50%);
        transition: all linear  0.3s;
    }
}