* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    color: white;
    font-family: monospace;
    overflow: hidden;
    main{
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        button{
            background: red;
            color: white;
            font-family: monospace;
            padding: 1rem 2rem;
            border-radius: 1rem;
            border: 0px solid;
            font-size: 1.4rem;
            position: relative;
            z-index: 2;
        }
       
    }
}