*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.parent1{
    height: 3000px;
    width: 100%;
    background-color: #222;
    padding-top: 233px;
}
.small{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.39);
    position: sticky;
    top: 0%;
    
}
.small2{
    height: 300px;
    width: 300px;
    background-color: blue;
  
    
}