* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    main{
   
        width: 100%;
        background: #000;
        display: flex;
        flex-wrap: wrap;

        .card{
            margin-left: 1rem;
            background: #fff;
            border-radius: 0.4rem;
            width: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
             margin-top: 1rem;
            img{
                width: 100%;
                aspect-ratio: 1;
                padding: 1rem;
                border-radius: 1.4rem;
                object-fit: cover;
               
            }
           
            h1{
                font-size: 2rem;
                padding-bottom: 1rem;

            }
            h5{
                font-size: 1.4rem;
                padding-bottom: 1rem;
            }
            p{
                font-size: 0.8rem;
                width: 80%;
                padding-bottom: 1rem;
            }
        }
    }
}
