* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
            background: #000;
}

body{

     
        display: flex;
        justify-content: center;
        align-items: center;
        anchor-name: --target;
 
}
  .box{
            height: 200px;
            width: 200px;
            
       
            border:1px solid white; 
            color: white;
            font-size: 2rem;
            background: red;
   
  }
  .box:hover{
    anchor-name: --target;
  }
  .anchor{
             background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top:anchor(top);
    left:anchor(left);
    bottom: anchor(bottom);
    right:anchor(right);
    pointer-events: none;
    position-anchor: --target;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
            }