* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    main{
        height: 100%;
        width: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        .box{
            height: 20rem;
            width: 35rem;
            background: conic-gradient(from 63deg ,red,blue,white,black);
            animation: rotateConic 1s linear infinite;
            box-shadow: 0 0 0.2rem 1rem gold; // x | y | blur | spread-radius | color
        }
    }
}
@keyframes rotateConic{
    from{
        background: conic-gradient(from 63deg ,red,blue,white,black,red);
    }
    to{
        background: conic-gradient(from 20deg ,black,white,blue,red,black);
    }
}