* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 23px;
}
div{
       background:crimson;
       border: 2px solid white;
       height: 100px;
       height: 300px;

}
