* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    cursor: none; //to hide default cursor

    main{
        height: 200%;
        width: 100%;
        background-color: #000;
        
        #cursor{
            height: 10rem;
            width: 10rem;
            position: fixed; // to avoid weird behavior while scrolling
            transform: translate(-50%,-50%);
        }
    }
}
