* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    width: 100%;

    main{
        background-color: #000;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .card{
            width: 20rem;
            height: 10rem;
            background-color: white;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
             align-items: center;

            .progress{
                width: 80%;
                height: 1rem;
                background: gray;
                border-radius: 50rem;
                position: relative;

                .pro-inner{
                    position: absolute;
                    width: 0;
                    height: 100%;
                    background: rgb(73, 119, 4);
                    border-radius: 50rem;
                }
            }
            .bottom{
                display: flex;
                width: 70%;
                justify-content: space-between;

                span{
                    font-size: 2rem;
                    font-family: monospace;
                }
                button{
                    padding: 0.6rem 1rem;
                    border-radius: 0.4rem;
                    border: none;
                    background-color: green;
                    color: white;
                    font-size: 1rem;
                    font-family: monospace;
                    cursor: pointer;

                    &:active{
                        scale: 0.9;

                    }
                }
            }
        }
    }
}
