* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
  background: black;
  padding: 1rem;
}
.task{
  background: white;
  padding: 1rem;
  min-width: 10rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;

}
.taskCont{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 100vh;
}
input{
  padding: 0.4rem 1rem;
  margin-right: 2rem;
  background: rgb(92, 75, 75);
  margin-bottom: 2rem;
  border: none;
  outline: none;
}
button{
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
}
.icons{
  width: 100%;
  display: flex;
  justify-content: space-around;
}